.smart-menu {
    position: relative;
    overflow: hidden;
    width: 240px;
    transition: height 0.2s linear;
    border-radius: 8px;
    background-color: #262837;
    border: 1px solid #272733;
    color: #C3C3CE;
}

.menu {
    display: flex;

    flex-direction: column;
    width: 240px;

    &__header {
        padding: 32px;
  
    }

    &__content {
        display: flex;
        flex-direction: column;

    }

    &__footer {
        padding: 32px;

    }

    &__menu-item {
        display: flex;
        justify-content: space-between;
        border: none;
        border-left: 2px solid transparent;
        padding: 16px 32px;
        border-top: 1px solid lighten(#262837, 5%);
        background: #262837;

        &:hover {
            border-left: 2px solid #675DB8;
            background-color: lighten(#262837, 2%);
        }
    }
}